/*Global*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*section title component*/
.services .section-intro,
.portfolio .section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
}

.services .section-intro h1,
.portfolio .section-intro h1 {
  margin: auto;
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: bolder;
}

.services .section-intro p,
.portfolio .section-intro p {
  margin: auto;
  padding-top: 15px;
  font-family: "Slabo 27px";
  font-style: italic;
  color: #999;
  font-size: 18px;
}

/*Nav*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  background-color: transparent;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.navigation .logo {
  font-family: "Great Vibes";
  color: #F9D136;
  font-size: 28px;
}

.navigation .nav-accual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  list-style: none;
}

.navigation .nav-accual a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.navigation .nav-accual a:hover {
  color: #F9D136;
}

/*splash*/
.splash {
  height: 80vh;
  background-image: url("https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: auto;
}

.splash .container h3 {
  margin: auto;
  font-family: "Slabo 27px";
  font-weight: lighter;
  font-style: italic;
  font-size: 38px;
}

.splash .container h1 {
  margin: 15px auto;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 74px;
}

.splash .container button {
  margin: 10px auto 0 auto;
  padding: 15px 30px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #F9D136;
  border-color: #F9D136;
  border-style: solid;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4%;
}

.splash .container button:hover {
  color: #F9D136;
  background-color: transparent;
}

/*services*/
.services {
  max-width: 1200px;
  margin: 0 auto;
}

.services .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services .features .feature-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.services .features .feature-item i {
  color: #F9D136;
  font-size: 70px;
  margin: auto;
  margin-bottom: 25px;
}

.services .features .feature-item h3 {
  margin: auto;
  margin-bottom: 20px;
  font-family: "Lato";
  font-weight: bolder;
}

.services .features .feature-item p {
  text-align: center;
  color: #999;
  font-family: "Slabo 27px";
}

/*portfolio*/
.portfolio {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio .item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 150px;
}

.portfolio .item-group .item {
  width: 27%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 60px;
}

.portfolio .item-group .item img {
  width: 100%;
  height: 300px;
}

.portfolio .item-group .item h3 {
  text-align: center;
  font-family: "Lato";
  margin-top: 15px;
}

.portfolio .item-group .item p {
  text-align: center;
  color: #999;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */